<section class="flex-container background-white aifs">
    <div class="half double-accent-padding" id="featured-image-wrapper">
        {% comment %} <div class="product-image-preview"></div>
        <div class="product-image-preview"></div> {% endcomment %}
        <img src="{{'2868.png' | asset_img_url: 'master' }}" loading="lazy" class="low-cut-royal-blue product-img" style="display: none">
        <img src="{{'6074.png' | asset_img_url: 'master' }}" loading="lazy" class="crew-stripe-hemp product-img">
        <img src="{{'2512.png' | asset_img_url: 'master' }}" loading="lazy" class="low-cut-green-mint product-img" style="display: none">
        <img src="{{'1050-free-pack-promo.png' | asset_img_url: 'master' }}" loading="lazy product-img" class="crew-black product-img" style="display: none">
    </div>
    <div class="half double-accent-padding">
        <h2 class="nm ttu">Product Title</h2>
        <p id="product-summary" class="subscript">Super soft, breathable, wicking and thermoregulating. The perfect socks for a long day on your feet.</p>
        
        {% comment %} REVIEWS {% endcomment %}
        <a href= https://www.pacas.com/pages/reviews>
            <section class="text-red clickable" id="review-snippet" style="margin-bottom: 30px">
         
                    ★
                    ★
                    ★
                    ★
                    ★
                  <span class="review-span">4712 Reviews</span>
          </section>
        </a>
        

        {% comment %} gender option {% endcomment %}
        <h4 class="ttu nm" style="padding: 10px 0 5px 0">Gender:</h4>
        <div class="free-pack-promo-options-container">
            <div class="gender-option-container option clickable">
                <p class="tac nm ttu gender-option">Women</p>
            </div>
            <div class="gender-option-container option clickable">
                <p class="tac nm ttu gender-option">Men</p>
            </div>
        </div>
        {% comment %} color option {% endcomment %}
        <h4 class="ttu nm style-title" style="display: none; padding: 10px 0 5px 0">Style:</h4>
        <div class="free-pack-promo-options-container">
            <div class="color-option-container option clickable womens-option w-low-cut-royal-blue" style="display: none">
                <p class="tac nm ttu color-option">Low Cut Royal Blue</p>
            </div>
            <div class="color-option-container option clickable womens-option w-crew-stripe-hemp" style="display: none">
                <p class="tac nm ttu color-option">Crew Stripe Hemp</p>
            </div>
            <div class="color-option-container option clickable mens-option m-low-cut-green-mint" style="display: none">
                <p class="tac nm ttu color-option">Low Cut Green Mint</p>
            </div>
            <div class="color-option-container option clickable mens-option m-crew-black" style="display: none">
                <p class="tac nm ttu color-option">Crew Black</p>
            </div>
        </div>
        {% comment %} size option {% endcomment %}
        <h4 class="ttu nm size-title" style="display: none; padding: 10px 0 5px 0">Size:</h4>
        <div class="free-pack-promo-options-container">
            <div class="size-option-container option clickable womens-option w-s/m" style="display: none">
                <p class="tac nm ttu size-option">Small/Med<br>(US: 5 - 8)</p>
            </div>
            <div class="size-option-container option clickable womens-option w-m/l" style="display: none">
                <p class="tac nm ttu size-option">Med/Large<br>(US: 8.5 - 11.5+)</p>
            </div>
            <div class="size-option-container option clickable mens-option m-m/l" style="display: none">
                <p class="tac nm ttu size-option">Med/Large<br>(US: 7 - 10)</p>
            </div>
            <div class="size-option-container option clickable mens-option m-l/xl" style="display: none">
                <p class="tac nm ttu size-option">Large/Extra-Large<br>(US: 10.5 - 14+)</p>
            </div>
        </div>
        <button class="add-to-cart ttu clickable" style="visibility: hidden; margin-top: 2vw"><h4 class="ttu nm text-natural">Add to Cart</h4></button>
        <img src="{{'rebrand-guarantee-badge-dark-purple.svg' | asset_url }}" id="product-badge" class="do" style="margin: 2vw"/>
    </div>
    <style>
        .free-pack-promo-options-container {
            display: flex;
        }
        .option {
            border: 2px solid #9093c8;
            border-radius: 10px;
            margin: 0 10px 10px 0;
            padding: 5px;
            width: 39.3%;
        }
        @media only screen and (max-width: 800px) {
            .option { width: 50% }
            .add-to-cart { margin-bottom: 20px }
        }
        .option > p {
            font-size: 12px;
            border-radius: 10px;
            padding: 10px;
        }
        .selected {
            color: white;
            border-radius: 10px;
            background: #21409A;
        }
        {% comment %} REVIEWS {% endcomment %}
        #all-reviews-modal {
            height: 90%; 
            width: 90%; 
            z-index: 999; 
            background-color: white; 
          }
          #pacas-review-iframe { 
            height: calc(100% - 10px);
            width: calc(100% - 10px); 
              border: none;
          }
          .review-stars {
            vertical-align: middle; 
          }
          .review-span {
            vertical-align: bottom;
            margin-left: 5px;
            line-height: 20px; 
            font-weight: normal;
          }
          .read-reviews {
            text-decoration: underline; 
          }
    </style>
    <script>
        $('.gender-option-container').click(function() {
            $('.gender-option').removeClass('selected')
            $(this).children('.gender-option').addClass('selected')
            $('.womens-option, .mens-option').hide()
            let genderSelection = $(this).children('.gender-option').text()
            $('.style-title').show()
            if (genderSelection == 'Women') {
                $('.womens-option.color-option-container').show()
            } else if (genderSelection == 'Men') {
                $('.mens-option.color-option-container').show()
            }
        })
        $('.color-option-container').click(function() {
            $('.color-option').removeClass('selected')
            $(this).children('.color-option').addClass('selected')
            let colorSelection = $(this).children('.color-option').text().toLowerCase().replaceAll(' ', '-')
            $('.product-img').hide()
            if ($('.gender-option.selected').text() == 'Women') {
                $('.womens-option.size-option-container').show()
            } else if ($('.gender-option.selected').text() == 'Men') {
                $('.mens-option.size-option-container').show()
            }
            $('.size-title').show()
            $('.' + colorSelection).show()
        })
        $('.size-option-container').click(function() {
            $('.size-option').removeClass('selected')
            $(this).children('.size-option').addClass('selected')
            $('.add-to-cart').css('visibility', 'visible')
            {% comment %} let sizeDetails = ''
            if ($('.size-option.selected').text() == 'Small/Med') {
                sizeDetails = 'Small / Medium (US: 5 - 8)'
                console.log(sizeDetails)
            } else if ($('.size-option.selected').text() == 'Med/Large' && $('.gender-option.selected').text() == 'Women') {
                sizeDetails = 'Size: Medium / Large (US: 8.5 - 11.5+)'
                console.log(sizeDetails)
            } else if ($('.size-option.selected').text() == 'Med/Large' && $('.gender-option.selected').text() == 'Men') {
                sizeDetails = 'Size: Medium / Large (US: 7 - 10)'
                console.log(sizeDetails)
            } else {
                sizeDetails = 'Size: Large / Extra-Large (US: 10.5 - 14+)'
                console.log(sizeDetails)
            }
            $('.size-title').text('Size: ' + sizeDetails) {% endcomment %}
        })
        
        function addItemToCart(variant_id, qty) {
            data = {
              "id": variant_id,
              "quantity": qty,
            }
            jQuery.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: data,
              dataType: 'json',
              success: function() { 
                window.location.href = '/cart'; 
              }
            });
          }


        $('.add-to-cart').click(function() {
            let selectedVariantColor = $('.color-option.selected').text()
            let selectedVariantSize = $('.size-option.selected').text()
            console.log(selectedVariantColor)
            console.log(selectedVariantSize)
            var variantId = ''
            if (selectedVariantColor == 'Low Cut Royal Blue' && selectedVariantSize == 'Small/Med') {
                variantId = 40942112145508
            } else if (selectedVariantColor == 'Low Cut Royal Blue' && selectedVariantSize == 'Med/Large') {
                variantId = 40942112211044
            } else if (selectedVariantColor == 'Crew Stripe Hemp' && selectedVariantSize == 'Small/Med') {
                variantId = 40942112178276
            } else if (selectedVariantColor == 'Crew Stripe Hemp' && selectedVariantSize == 'Med/Large') {
                variantId = 40942112243812
            } else if (selectedVariantColor == 'Low Cut Green Mint' && selectedVariantSize == 'Med/Large') {
                variantId = 40942080491620
            } else if (selectedVariantColor == 'Low Cut Green Mint' && selectedVariantSize == 'Large/Extra-Large') {
                variantId = 40942080557156
            } else if (selectedVariantColor == 'Crew Black' && selectedVariantSize == 'Med/Large') {
                variantId = 40942080524388
            } else if (selectedVariantColor == 'Crew Black' && selectedVariantSize == 'Large/Extra-Large') {
                variantId = 40942080589924
            }
            addItemToCart(variantId, 1)
        })  
    </script>
</section>