<section style="background-color: #afbde1">
  <div class="product-carousel double-accent-padding">
    <div class="arrow-container flex-container-no" style="position: absolute; left: 15px">
      <img class="left-arrow clickable" src="{{ "left-arrow.png" | asset_url }}" loading="lazy" style="height: 100px; display: none">
    </div>
    <a href="/products/womens-v-neck?variant=40686068301924">
      <div id="first-carousel-product" class="carousel-product carousel-scroll-point background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'W7101-Front.jpg' | asset_url }}" loading="lazy" />
        <h4 class="tac nm">Women's V Neck Sweater</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/mens-1-4-zip-sweater?variant=40686099038308">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'W7225-Front.jpg' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">Men's Quarter Zip Sweater</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/scarf-ombre-stripe?variant=40732705488996">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'F2206.jpg' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">Women's Ombre Stripe Scarf</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div> 
    </a>
    <a href="/products/6-pack-womens-crew-pacas-socks?variant=40664405016676">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ '800x1200-Socks-Flat.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">6 Pack Women's Crew</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/womens-v-neck?variant=40686068301924">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'H-1002-M.jpg' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">Pacas Super Soft Hat</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/6-pack-womens-low-cut?variant=40654779744356">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'wlow-cut-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">6 Pack Women's Low Cut</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/6-pack-womens-compression-socks?variant=40925798695012">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'wcompression-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">6 Pack Women's Compression</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/mens-ombre-stripe-knit-scarf?variant=40907537875044">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'F2209_cee3c183-6b52-4fca-9ce7-ca6c83689870.jpg' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">Men's Ombre Stripe Scarf</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/4-pack-youth-crew-pacas-socks?variant=40985411944548">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'kids-crew-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">4 Pack Kids' Crew Socks</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/throw-blanket-style-3?variant=40365544472676">
      <div class="carousel-product carousel-scroll-point background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'throw-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">Blue Plaid Throw Blanket</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/6-pack-mens-crew-pacas-socks?variant=40840485011556">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'mcrew-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">6 Pack Men's Crew</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/3-pack-mens-golf-socks?variant=40548996776036">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'mgolf-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">3 Pack Men's Golf</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/3-pack-womens-golf-socks?variant=40548976459876">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'wgolf-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">3 Pack Women's Golf</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/4-pack-womens-no-show-socks?variant=40487128760420">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'no-show-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">4 Pack Women's No Show</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/6-pack-womens-light-weight-crew-pacas-socks?variant=40314006765668">
      <div class="carousel-product carousel-scroll-point background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'wlw-crew-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">6 Pack Women's Light Weight Crew</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/4-pack-mens-light-weight-crew?variant=39436480053348">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'mlw-crew-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">4 Pack Men's Light Weight Crew</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/4-pack-mens-compression-socks?variant=40831112544356">
      <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'mcompression-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">4 Pack Men's Compression</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <a href="/products/4-pack-mens-low-cut-paca-socks?variant=32605956669540">
      <div id="last-carousel-product" class="carousel-product carousel-scroll-point background-natural accent-padding flex-container-no jcsb">
        <img src="{{ 'mlow-cut-carousel.png' | asset_url }}" loading="lazy"/>
        <h4 class="tac nm">4 Pack Men's Low Cut</h4>
        <div class="background-dark-teal"><p class="ttu tac text-white nm">Shop Now</p></div>
      </div>
    </a>
    <div class="arrow-container flex-container-no" style="position: absolute; right: 15px">
      <img class="right-arrow clickable" src="{{ "right-arrow.png" | asset_url }}" loading="lazy" style="height: 100px;">
    </div>
  </section>
<script>
  $(document).ready(function() {
    let lastCarouselProduct = document.getElementById('last-carousel-product')
    var scrollToIndex = 5
    $('.right-arrow').click(function() {
      $('.left-arrow').show()
      scrollToIndex += 5
      console.log(scrollToIndex)
      let nextCarouselProduct = Array.from($('.carousel-product'))[scrollToIndex]
      console.log(nextCarouselProduct)
      if (scrollToIndex >= 20) {
        lastCarouselProduct.scrollIntoView({behavior: "smooth", block: "nearest"})
        $(this).removeClass('clickable').css('opacity', '50%')
      }
      nextCarouselProduct.scrollIntoView({behavior: "smooth", block: "nearest"})
    })
    $('.left-arrow').click(function() {
      $('.right-arrow').addClass('clickable').css('opacity', '100%')
      let leftScrollToIndex = scrollToIndex - 10
      console.log(leftScrollToIndex)
      let nextCarouselProduct = Array.from($('.carousel-product'))[leftScrollToIndex]
      console.log(nextCarouselProduct)
      nextCarouselProduct.scrollIntoView({behavior: "smooth", block: "nearest"})
    })
  })
</script>
<style>
  .product-carousel { 
    display: flex;
    overflow: scroll;
    white-space: nowrap;
  }
  .carousel-product {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 33rem;
    margin: 10px;
  }
  @media only screen and (min-width: 800px) {
    .carousel-product > h4 { font-size: 1.4rem }
    .carousel-product > div > p { font-size: 14px; }
  }
  @media only screen and (max-width: 799px) {
    .carousel-product {
      width: 13rem;
      height: 24rem;
    }
  }
  .carousel-product > img {
    border-radius: 10px;
    width: 90%;
  }
  .carousel-product > div {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
  }
  .carousel-product > h4 { white-space: normal; }
  .arrow-container {
    height: 33rem;
  }
</style>