<main id="index">
  {% comment %} ATF {% endcomment %}
  <section class="homepage-atf">
    <div id="homepage-atf"> 
      <div class="double-accent-padding flex-container-no fdc jcsb" >
        <h3 class="nm tac">Stay Warm With Our Best Selling Crew Socks</h3>
        <div style="border-radius: 10px; padding: 10px" class="ttu tac background-charcoal flex-container-no jcc" style="background-image: url({{ 'placeholder.png' | asset_img_url }})">
          <a href="/collections/womens-crew"><p class="text-white nm" >Shop Women's Crew Socks</p></a>
        </div>
      </div>
      <div class="double-accent-padding flex-container-no fdc jcsb" style="background-image: url({{ 'placeholder.png' | asset_img_url }})">
        <h3 class="nmt tac">Bundle Up and Save</h3>
        <div style="border-radius: 10px; padding: 10px" class="ttu tac background-charcoal flex-container-no jcc">
          <a href="/pages/bundles"><p class="text-white nm" >Shop Bundles</p></a>
        </div>
      </div>
      <div class="double-accent-padding flex-container-no fdc jcsb" style="background-image: url({{ '20220929_Pacas_SOCIAL_MEDIA_3072.jpg' | asset_url }}); background-size: cover" >
        <h3 class="nm tac">Sweater Weather</h3>
        <div style="border-radius: 10px; padding: 10px" class="ttu tac background-charcoal flex-container-no jcc">
          <a href="/collections/womens-sweaters"><p class="text-white nm">Shop Women's Sweaters</p></a>
        </div>
      </div>  
    </div>
  </section>
    {% comment %} SHOP MEN'S WOMEN'S SWEATERS {% endcomment %}
    <section class="homepage-atf-ab-c" style="padding-top: 25px">
      <div class="flex-container-no" style="width: 100%">
        <a href="/collections/womens-socks" class="one-third background-dark-teal" style="border-radius: 10px; margin: 0 5px 0 10px; padding: 1rem">
          <h4 class="nm tac ttu text-white">Shop Women's</h4>
        </a>
        <a href="/collections/mens-socks" class="one-third background-dark-teal" style="border-radius: 10px; margin: 5px; padding: 1rem">
          <h4 class="nm tac ttu text-white">Shop Men's</h4>
        </a>
        <a href="/collections/womens-sweaters" class="one-third background-dark-teal" style="border-radius: 10px; margin: 0 10px 0 5px; padding: 1rem">
          <h4 class="nm tac ttu text-white">Shop Sweaters</h4>
        </a>
      </div>
    </section>
  <section class="double-accent-padding" style="max-width: fit-content; margin: auto; padding-top: 25px !important;">
    <h3 class="assortment-txt" style="margin: 0 0 0 10px" >Check Out Our Full Assortment!</h3>
    <div id="homepage-full-assortment">
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-ankle" class="fade-in gendered-cat-title"><p class="tdu tac gendered-category">Low Cut Socks</p></a>
        <div>
          <a href="/collections/womens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-compression" class="fade-in gendered-cat-title"><p class="tdu tac gendered-category">Compression Socks</p></a>
        <div>
          <a href="/collections/womens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/throw-blankets"><p class="tdu tac">Throw Blankets</p></a>
      </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-golf" class="fade-in gendered-cat-title"><p class="tdu tac gendered-category">Golf Socks</p></a>
        <div>
          <a href="/collections/womens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-sweaters" class="fade-in gendered-cat-title"><p class="tdu tac gendered-category">Sweaters</p></a>
        <div>
          <a href="/collections/womens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-scarves" class="fade-in gendered-cat-title"><p class="tdu tac gendered-category">Scarves</p></a>
        <div>
          <a href="/collections/womens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-crew" class="fade-in gendered-cat-title"><p class="tdu tac">Crew Socks</p></a>
        <div>
          <a href="/collections/womens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" class="fade-in gendered-cat-shop" style="display: none"><p class="tdu tac">Shop Men's</p></a>
        </div>
        </div>
      <div class="accent-padding flex-container-no jcc">
        <a href="/collections/womens-scarves"><p class="tdu tac">Shawls</p></a>
      </div>
    </div>
  </section>
  <script>
    // show links to men's and women's when a user hovers on a product category
    $($('#homepage-full-assortment').children('div')).mouseover(function() {
      $(this).children('.gendered-cat-title').hide()
      $(this).children('div').children('.gendered-cat-shop').show()
      $(this).css('opacity', '70%')
    })
    $($('#homepage-full-assortment').children('div')).mouseleave(function() {
      $(this).children('.gendered-cat-title').show()
      $(this).children('div').children('.gendered-cat-shop').hide()
      $(this).css('opacity', '100%')
    })
  </script>

{% comment %} REVIEWS {% endcomment %}
<section class="double-accent-padding background-natural tac" id="product-review-wrapper">
  <h1 class="detail-accent ttu tac nm" id="index-review-header">Unbelievably Soft.</h1>
  <p class="tac">(but don't just take our word for it...)</p>
  {% render 'reviews' %}
  <iframe src="https://pacas-reviews.herokuapp.com/welcome/show" title="Review Slider" id="iFrame1" style="border: none; width: 100%;"></iframe>
</section>
<section class="background-white">
  <section class="background-white accent-padding-so flex-container aifs">
    <div class="one-third accent-padding" id="mobile-benefits-wrapper">
      <div class="accent-padding  mobile-benefits">
        <h3 class="ttu accent-crown nm">Hypoallergenic</h3>
        <p>doesn't contain lanolin, which is a natural oil that causes allergies</p>
      </div>
      <div class="accent-padding  mobile-benefits">
        <h3 class="ttu accent-crown nm">Thermoregulating</h3>
        <p>alpaca fiber has a hollow core, which insulates heat in the winter and helps keep it cool in the summer</p>
      </div>
      <div class="accent-padding mo  mobile-benefits">
        <h3 class="ttu accent-crown nm">Moisture Wicking</h3>
        <p>doesn't absorb ba-a-a-ad moisture, unlike wool</p>
      </div>
      <div class="accent-padding mo  mobile-benefits">
        <h3 class="ttu accent-crown nm">Warmer Than Wool</h3>
        <p>5x warmer than wool. Take that, sheeple!</p>
      </div>
    </div>
    <script>
      if ($(window).width() < 800) {
        setInterval(function(){ 
          if ($('.mobile-benefits:last-of-type').is(":visible")) {
            $('.mobile-benefits:visible').hide()
            $('.mobile-benefits:first-of-type').show();
            $('.selection-circle.background-dark-teal').removeClass('background-dark-teal')
            $('.selection-circle:first-of-type').addClass('background-dark-teal')
          }
          else {
            $('.mobile-benefits:visible').hide().next().show();
            $('.selection-circle.background-dark-teal').removeClass('background-dark-teal').next().addClass("background-dark-teal")
          }
        }, 3000);
      }
    </script>
    <div class="mo tac" style="margin-top: -20px; margin-bottom: 50px;">
      <div class="selection-circle background-dark-teal"></div>
      <div class="selection-circle"></div>
      <div class="selection-circle"></div>
      <div class="selection-circle"></div>
    </div>
    <div class="one-third tac asfe">
      <img src="{{'rebrand-paca.png' | asset_url}}" alt="Alpaca" id="alpaca-break">
    </div>
    <div class="one-third accent-padding">
      <div class="accent-padding do">
        <h3 class="ttu accent-crown nm">Moisture Wicking</h3>
        <p>doesn't absorb ba-a-a-ad moisture, unlike wool</p>
      </div>
      <div class="accent-padding do">
        <h3 class="ttu accent-crown nm">Warmer Than Wool</h3>
        <p>5x warmer than wool. Take that, sheeple!</p>
      </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper"viewBox="0 100 1440 220"><path fill="#afbde1" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
  {% comment %} PRODUCT CAROUSEL {% endcomment %}
  <section style="background-color: #afbde1">
    <div class="product-carousel double-accent-padding">
      <a href="/products/womens-v-neck?variant=40686068301924">
        <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
          <img src="{{ 'W7101-Front.jpg' | asset_url }}"/>
          <h4 class="tac nm">Women's V Neck Sweater</h4>
          <div class="ttu tac background-dark-teal text-white">Shop Now</div>
        </div>
      </a>
      <a href="/products/womens-v-neck?variant=40686068301924">
        <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
          <img src="{{ 'W7225-Front.jpg' | asset_url }}"/>
          <h4 class="tac nm">Men's 1/4 Zip Sweater</h4>
          <div class="ttu tac background-dark-teal text-white">Shop Now</div>
        </div>
      </a>
      <a href="/products/womens-v-neck?variant=40686068301924">
        <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
          <img src="{{ 'F2206.jpg' | asset_url }}"/>
          <h4 class="tac nm">Women's Ombre Stripe Scarf</h4>
          <div class="ttu tac background-dark-teal text-white">Shop Now</div>
        </div> 
      </a>
      <a href="/products/womens-v-neck?variant=40686068301924">
        <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
          <img src="{{ '800x1200-Socks-Flat.png' | asset_url }}"/>
          <h4 class="tac nm">6 Pack Women's Crew</h4>
          <div class="ttu tac background-dark-teal text-white">Shop Now</div>
        </div>
      </a>
      <a href="/products/womens-v-neck?variant=40686068301924">
        <div class="carousel-product background-natural accent-padding flex-container-no jcsb">
          <img src="{{ 'H-1002-M.jpg' | asset_url }}"/>
          <h4 class="tac nm">Shop Pacas Super Soft Hat</h4>
          <div class="ttu tac background-dark-teal text-white">Shop Now</div>
        </div>
      </a>
    </div>
  </section>
  
  {% comment %} <section id="index-reviews" class="background-light-teal  accent-padding">
    <section id="our-faves" class="flex-container accent-padding">
      <div class="one-third tac accent-padding" id="our-faves-text">
        <h2 class="ttu nm">Our Faves.</h2>
        <p>Our clothing will make your older clothes wish they were friends with an alpaca or two. The best part? We give back to our alpacas and their farmers, so they can have a truly sustainable future. It doesn't get any cozier!</p>
        <a href="/collections/all-socks">
          <div class="standard-button animated-button background-red ma do">
            <h2 class="text-natural ttu tac">Shop Now</h2>
          </div>
        </a>
      </div>
      <div class="two-thirds accent-padding">
        <div class="flex-container-no jcsa fw">
          <div class="accent-padding tac"><h4 class="ttu">Throws</h4></div>
          <div class="accent-padding tac"><h4 class="ttu  actives">Socks</h4></div>
          <div class="accent-padding tac"><h4 class="ttu">Wraps</h4></div>
        </div>
        <div class="fw flex-container index-product-preview-wrapper" id="socks-quick">
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview" style="display: none;">
          </div>
        </div>
        <div class="fw flex-container index-product-preview-wrapper" id="throws-quick" style="display: none;">
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview background-red text-natural accent-padding prev-product-form">
            <h4 class="ttu text-natural nm">Pacas Throw <br>Blankets</h5>
            <h2 class="text-dark-red nm">$150.00</h2>
            <div class="border-natural" style="padding: 10px;"><a href="/collections/throw-blankets"><h4 class="tac ttu nm fw text-natural">View Product</h4></a></div>
          </div>
        </div>
        <div class="fw flex-container index-product-preview-wrapper" id="wraps-quick" style="display: none;">
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview background-red text-natural accent-padding prev-product-form">
            <h4 class="ttu text-natural nm">Pacas <br>Wraps</h5>
            <h2 class="text-dark-red nm">$85.00</h2>
            <div class="border-natural" style="padding: 10px;"><a href="/collections/summer-wraps"><h4 class="tac ttu nm fw text-natural">View Product</h4></a></div>
          </div>
        </div>
      </div>
    </section>

  </section>
</section>
<section class="flex-container" id="photo-highlight-cta">
  <div class="half flex-container-no" id="winter-socks">
    <div class="double-accent-padding">
      <h3 class="text-natural ttu nm tac">New<br class="do"> Crew</br> Socks</h3>
    <a href="/collections/womens-crew">
      <div class="animated-button-red ma animated-button">
        <h2 class="text-natural ttu tac">Shop Now</h2>
      </div>
    </a>
  </div>
  </div>
<div class="side-border"></div>
<div class="half flex-container-no" id="find-your-match">
  <div class="double-accent-padding">
    <h3 class="text-natural ttu nm tac">New</br> Low Cuts</h3>
  <a href="/collections/womens-low-cut">
    <div class="animated-button-red animated-button ma">
      <h2 class="text-natural ttu tac">Show Now</h2>
    </div>
  </a>
</div>
</div>
</section>
<section class="flex-container" id="final-cta">
  <div class="background-teal one-third flex-container-no fdc">
    <a href="/collections/men">
      <h1 class="tac text-dark-teal ttu nmb">Men</h1>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="0 55 480 220"><path fill="#f04e4c" fill-opacity="1" d="M0,160L14.1,138.7C28.2,117,56,75,85,74.7C112.9,75,141,117,169,144C197.6,171,226,181,254,165.3C282.4,149,311,107,339,80C367.1,53,395,43,424,74.7C451.8,107,480,181,508,181.3C536.5,181,565,107,593,90.7C621.2,75,649,117,678,122.7C705.9,128,734,96,762,117.3C790.6,139,819,213,847,213.3C875.3,213,904,139,932,144C960,149,988,235,1016,234.7C1044.7,235,1073,149,1101,138.7C1129.4,128,1158,192,1186,197.3C1214.1,203,1242,149,1271,138.7C1298.8,128,1327,160,1355,181.3C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z" ></path></svg>  

    <div class="background-red fw">

      <a href="/collections/men">
        <h3 class="tac text-natural ttu">Shop Now</h3>
      </a>
    </div>
  </div>
  <div class="background-purple one-third flex-container-no fdc" id="cta-shopwomen">
    <a href="/collections/women">
      <h1 class="tac text-dark-purple ttu nmb">Women</h1>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="480 55 480 220"><path fill="#66cad8" fill-opacity="1" d="M0,160L14.1,138.7C28.2,117,56,75,85,74.7C112.9,75,141,117,169,144C197.6,171,226,181,254,165.3C282.4,149,311,107,339,80C367.1,53,395,43,424,74.7C451.8,107,480,181,508,181.3C536.5,181,565,107,593,90.7C621.2,75,649,117,678,122.7C705.9,128,734,96,762,117.3C790.6,139,819,213,847,213.3C875.3,213,904,139,932,144C960,149,988,235,1016,234.7C1044.7,235,1073,149,1101,138.7C1129.4,128,1158,192,1186,197.3C1214.1,203,1242,149,1271,138.7C1298.8,128,1327,160,1355,181.3C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z" ></path></svg>  

    <div class="background-teal fw">
      <a href="/collections/women">
        <h3 class="tac text-natural ttu">Shop Now</h3>
      </a>
    </div>
  </div>
  <div class="background-red one-third flex-container-no fdc">
    <a href="/collections/kids">
      <h1 class="tac text-dark-red ttu nmb">Kiddies</h1>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="960 55 480 220"><path fill="#9093c8" fill-opacity="1" d="M0,160L14.1,138.7C28.2,117,56,75,85,74.7C112.9,75,141,117,169,144C197.6,171,226,181,254,165.3C282.4,149,311,107,339,80C367.1,53,395,43,424,74.7C451.8,107,480,181,508,181.3C536.5,181,565,107,593,90.7C621.2,75,649,117,678,122.7C705.9,128,734,96,762,117.3C790.6,139,819,213,847,213.3C875.3,213,904,139,932,144C960,149,988,235,1016,234.7C1044.7,235,1073,149,1101,138.7C1129.4,128,1158,192,1186,197.3C1214.1,203,1242,149,1271,138.7C1298.8,128,1327,160,1355,181.3C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z" ></path></svg>  

    <div class="background-purple fw">
      <a href="/collections/kids">
        <h3 class="tac text-natural ttu">Shop Now</h3>
      </a>
    </div>
  </div>
</section> {% endcomment %}

<script>
  $('#our-faves .jcsa h4').click(function() {
    $(this).addClass('actives').parents().siblings().children().removeClass('actives');
    let currentSelection = $(this).text().toLowerCase();
    let currentDisplay = "#" + currentSelection + "-quick"
    $('.index-product-preview-wrapper').hide();
    $(currentDisplay).show(); 
  })
</script>

<script>on_index=true;</script>

<script>
  $("#iFrame1").on("load", function () {
    $('#iFrame1').iFrameResize( [{
      checkOrigin:false,
      log:true,
      minHeight:15000,
      heightCalculationMethod:'lowestElement'
    }] );
  });
</script>

<!-- Do Not Remove - Turn Tracking Beacon Code - Do Not Remove --> <!-- Advertiser Name : PACAS --> <!-- Beacon Name : PACAS-GROWTH PLAN-FALL 2021-HP --> <!-- If Beacon is placed on a Transaction or Lead Generation based page, please populate the turn_client_track_id with your order/confirmation ID -->
<script type="text/javascript"> turn_client_track_id = ""; </script> <script type="text/javascript" src="https://r.turn.com/server/beacon_call.js?b2=87D7k2ltAJCqu-539QbGDdNDxwEfaMWFjrw2QeDhnhbEFrIWTIJNGNkEc0znUj0FEGBWtEqqFCGEj9i4J0e0bA"> </script> 
<noscript> <img border="0" src="https://r.turn.com/r/beacon?b2=87D7k2ltAJCqu-539QbGDdNDxwEfaMWFjrw2QeDhnhbEFrIWTIJNGNkEc0znUj0FEGBWtEqqFCGEj9i4J0e0bA&cid="> 
</noscript> 
<!-- End Turn Tracking Beacon Code Do Not Remove -->

<style>
  .product-carousel { 
    display: flex;
    overflow: scroll;
    white-space: nowrap;
  }
  .carousel-product {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 35rem;
    margin: 10px;
  }
  .carousel-product > img {
    border-radius: 10px;
    width: 90%;
  }
  .carousel-product > div {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
  }
  main { margin-bottom: -20px; width:  100vw; overflow-x: hidden;}

  @media only screen and (max-width: 799px) {
    #index .page-header h1 {
      font-size : 12vw !important;
      line-height : 12vw !important;
    }
  }
  @media only screen and (min-width: 800px) {
    #index .page-header h1 {
      font-size : 7vw !important;
      line-height : 7vw !important;
    }

    .atf-text-accent { 
      padding-left: 5.5vw; 
      padding-top: 6vw; 
      align-items: flex-start; 
    }
  }

  #mobile-button-wrapper { 
    width: 300px;
    margin: 0 auto;
  }
  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    .standard-button h2 { padding: 15px !important; }
  }
  #alpac-ah-learn-more-mo  {
    position: absolute;
    right: 20px;
    margin-top: -77px;
  }
</style>