<main id="custom-bundles"> 
  <section class="collection-header double-accent-padding background-teal" id="custom-bundle-wrapper">
    <div>
      <h2 class="nmt ttu text-white tac">Bundles</h2> 
    </div>
  </section>

  <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper do"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
  <svg xmlns="http://www.w3.org/2000/svg" class="topper mo"viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  

  <div class="background-white flex-container aifs" >
    <div class="flex-container-no mo jes" style="padding: 5px;">
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/all-socks">
          <p class="nm tac">Socks</p>
        </a>
      </div>
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/throw-blankets"/>
          <p class="nm tac">Throws</p>
        </a>
      </div>
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/scarves">
          <p class="nm tac">Scarves</p>
        </a>
      </div>
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/summer-wraps">
          <p class="nm tac"><span class="wrap-aba">Wraps</span><span class="wraps-abb" style="display: none;">Shawls</span></p>        </a>
      </div>
    </div>
  <div class="do double-accent-padding">
    <p class="tar mo">X</p>
    <h3 class="ttu detail-accent">Products</h3>
     <a href="/collections/all-socks"/><p class="nm">Socks</p></a>
    <a href="/collections/throw-blankets"><p class="nm">Throws</p></a>
    <a href="/collection/scarves"><p class="nm">Scarves</p></a>
    <a href="/collections/summer-wraps"><p class="nmt"><span class="wrap-aba">Wraps</span><span class="wraps-abb" style="display: none;">Shawls</span></p></a>
  </div>
 
  <section class="row double-padding-tbo">
      <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">THE STARTER SOCK BOX</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
      </section>
      <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">THE SOCK BOX DELUXE</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>

              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
              </div>
            </div>
           </a>
        </section>
      </section>
      <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ON THE GO</h3>
               <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>

              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
      </section>
          <section class="col" id="">

      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ON THE GO DELUXE</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
          </section>
          <section class="col" id="">

      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">COZY @ HOME</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
          </section>
          <section class="col" id="">

      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">WFH</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
          </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">WINTER DELUXE</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">READY FOR ANYTHING</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">FAMILY BUNDLE</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ALPACA FOR 2</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ALPACA FOR 2 DELUXE</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
      <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=the-starter-sock-box&item1=item1&item2=item2&item3=item3">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'placeholder.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">JET SET TRAVEL PACK</h3>
                <p class="subscript nm">description of box - lorem ipsum dolor sit amet, consectetur</p>
              <div class="acfe">
                <div class="color-preview-circle" style="background-image: url({{ 'placeholder.png' | asset_url }});background-size: cover;" > </div>
                <p class="nm text-dark-purple subscript">$XX.XX<span class="strikethrough text-dark-purple">$YY.YY</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>  
    </section>
  </section>
  </div>
 <section class="flex-container" id="photo-highlight-cta">
    <div class="half flex-container-no" id="winter-socks">
      <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New<br class="do"> Crew</br> Socks</h3>
        <a href="/collections/womens-crew">
          <div class="animated-button-red ma animated-button">
            <h2 class="text-natural ttu tac">Shop Now</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="side-border"></div>
    <div class="half flex-container-no" id="find-your-match">
     <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New</br> Low Cuts</h3>
        <a href="/collections/womens-low-cut">
        <div class="animated-button-red animated-button ma">
          <h2 class="text-natural ttu tac">Shop Now</h2>
        </div>
        </a>
      </div>
    </div>
  </section>
  <section class="background-teal ofxh">
          <div class="fw flex-container index-product-preview-wrapper double-accent-padding" id="socks-quick">
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
           <div class="one-third index-product-preview">
        </div>
      </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-topper"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
        <div class="background-white">
         <svg width="100%" height="15vw" viewBox="0 100 1098.72 89.55" style="margin-top: -7%;margin-left: 34vw;">
              <path id="curve" fill="transparent" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440"></path>
              <text width="100%" fill="black" style="transform: translate3d(0px, 0px, 0px); font-size: 71px; font-weight: 600; display: flex; align-items: center;text-transform: uppercase;font-family: 'Avenir-Next-Condensed';">
                <textPath id="text-path" alignment-baseline="top" xlink:href="#curve" startOffset="10%" style="transform: translate3d(0px, 0px, 0px);" width="169.53066741237882%" fill="#2d2b26">"Alpac-Ahhhhh"</textPath>
              </text>
  </svg>
</div>
    </section>
</main>
<style>
  .view-more-products div { margin: 5px;  }
  .slvr-col-img-wrapper img { 
    width: 100%;
    border-radius:  40px;
    background-color: #F3F8FB;
  } 

  .row {
    display: flex; 
    flex-flow: row wrap; 
  }

  .col { 
    display: flex; 
    flex-flow: column; 
  }

  .card {
    display: flex;
    margin: 5px;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
  }
  .color-preview-circle { height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin:  10px 5px 10px 0; } 
  .col h3 {line-height: 1; } 
  @media only screen and (max-width: 588px) {
    .col { flex: 0 0 50% !important; }
  }
  @media only screen and (min-width: 1100px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 589px) and (max-width: 1099px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 588px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    } 
  }
  @media only screen and (max-width: 449px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    }    
    .atf-float h1 { font-size: 17pt; }

  }
    @media only screen and (min-width: 350px) and (max-width: 449px) {
/*        .slvr-col-img-wrapper { height: 200px; }
*/
  }
/*    @media only screen and (max-width: 349px) {
        .slvr-col-img-wrapper { height:200px; }

  }*/

  @media only screen and (min-width: 589px) and (max-width: 799px) {
    .col { flex: 0 0 33% !important; }

  }
  @media only screen and (min-width: 800px) {
    .col { flex: 0 0 33% !important; }
  }

  .card {
/*    box-shadow: 2px 2px 10px #F5F8F8;
*/    height: 100%;
  }
  .card:hover {
/*    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px 2px; 
*/  }
    @media only screen and (max-width: 588px) {
    .view-more-products { 
      width: 100%; 
      overflow: scroll; 
      white-space: nowrap;
      display: inline-block;
    }
    .view-more-products div {
      display: inline-block;
      margin-right: ;
      width: 200px;
      vertical-align: middle;
    }
  }
</style>